:root {
  --viewport-height: 100vh;
  --viewport-width: 100vw;
  --aspect-ratio: calc(var(--viewport-height) / var(--viewport-width));
  --rotation-angle: calc(
    atan(var(--aspect-ratio)) * 1deg
  ); /* Approximation for demo purposes */
}
@font-face {
  font-family: "Ultra";
  src: url("/src/assets/fonts/Ultra/Ultra-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Outfit";
  src: url("/src/assets/fonts/Outfit/static/Outfit-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Outfit";
  letter-spacing: 1px;
}
.navbar {
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ) !important; /* Adjust the alpha value as needed */
  position: fixed;
  display: flex;
  overflow: hidden;
  z-index: 200;
  width: 100%;
  backdrop-filter: blur(10px);
  & * {
    color: #fff;
  }
  & .navbar-brand {
    padding: 0;
    margin: 0;
    display: block;
    height: 100%;
  }
  & .navbar-brand > * {
    margin: 0rem 0.5rem;
  }
  & .navbar-brand .company-name-display {
    text-align: center;
    place-items: center;
    background-color: transparent !important;
    font-family: "Ultra";
    font-size: 120%;
    display: none;
    padding: 1rem;
  }
  & .navbar-brand img {
    background-color: transparent !important;
    height: 60px;
  }
  & .navbar-brand.logo > div {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    display: flex;
  }
  & .navbar-brand.logo > div.fade-out {
    opacity: 0;
  }
  & .navbar-brand.logo > div:first-child .company-name-display {
    color: #ffffff;
  }
  & .navbar-brand.logo > div:nth-child(2) .company-name-display {
    color: #fa943c;
  }
  & .navbar-brand.logo > div.fade-in {
    opacity: 1;
  }
  &.navbar-expand-lg > .container-fluid {
    width: auto;
  }
  &.navbar-expand-lg > .container-fluid > .navbar-brand {
    padding: 0rem 1rem;
    position: relative;
  }
  &.navbar-expand-lg > .container-fluid > .navbar-brand > div {
    width: 100%;
    height: 100%;
    margin: 0;
    color: white;
  }
  &.navbar-expand-lg > .container-fluid > .navbar-brand > div:nth-child(2) {
    position: absolute;
    width: auto;
    top: 0;
    left: 1rem;
    right: 1rem;
    bottom: 0;
    color: #fa943c;
  }
  &.navbar-expand-lg > .container-fluid .navbar-nav .nav-item {
    padding: 0rem;
    white-space: nowrap;
  }
}
body {
  background-color: #272727;
}
.menu-banner {
  position: relative;

  & .menu-banner-filter {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    backdrop-filter: blur(5px);

    & .menu-banner-content {
      position: relative;
      width: 100%;
      height: 100%;
      display: grid;
      align-content: center;
      & > .container-fluid {
        width: 95%;
        & .row > div > div {
          padding: 1rem;
        }
      }
    }
  }
  & .menu-banner-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    & img {
      width: 100%;
      height: 100%;
    }
  }
}
.offcanvas {
  .offcanvas-header {
    & .offcanvas-title {
      font-size: 2rem;
    }
  }
  .offcanvas-body {
    padding: 0rem 0.5rem;
  }
  & .list-group {
    border: none;
    border-radius: 0;
    & .list-group-item {
      border: none;
      border-bottom: 2px dotted #272727;
    }
  }
}
.nav-item:has(.nav-link.nav-link.active) {
  &:after {
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    bottom: 0;
    right: 5%;
    left: 5%;
    background-color: #ffffff;
    transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    transform-origin: bottom center;
    z-index: -1;
  }

  &:hover {
    .nav-link {
      color: #2d2d2d;
    }

    &:after {
      right: 0;
      left: 0;
      height: 100%;
    }
  }
}
.nav-item {
  text-align: center;

  display: block;

  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  position: relative;
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  z-index: 1;
  &:after {
    content: "";
    display: block;
    height: 0px;
    position: absolute;
    bottom: 0;
    right: 5%;
    left: 5%;
    background-color: #ffffff;
    transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    transform-origin: bottom center;
    z-index: -1;
  }
  & .nav-link {
    padding: 0.5rem 2rem !important;
  }
  &:hover {
    .nav-link {
      color: #2d2d2d;
    }

    &:after {
      right: 0;
      left: 0;
      height: 100%;
    }
  }
}
.nav-link.active:hover {
  color: #2d2d2d;
}

.carousel-control-next-icon {
  /*background-image: url("/src/assets/images/misc/right-arrow.png");*/
  opacity: 2 !important;
}
.carousel-control-prev-icon {
  /*background-image: url("/src/assets/images/misc/left-arrow.png");*/
  opacity: 2 !important;
}
.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

footer {
  border-top: 2px solid white;
  background-color: #272727;
}
footer * {
  color: white !important;
  width: 100%;
  padding: 0.25rem;
  z-index: 2;
}

.footer-logo {
  width: 60%;
  display: block;
}
footer .row {
  width: 100%;
  position: relative;
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  padding: 0.5rem;
}
footer .footer-link-icon {
  max-width: 7rem;
  min-width: 2.5rem;
  display: flex;
  background-color: transparent;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.footer-link-icon {
  display: block;
  position: relative;
}
.footer-link-icon img {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.footer-link-icon img:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.footer-link-icon img.fade-out {
  opacity: 0;
}

.footer-link-icon img.fade-in {
  opacity: 1;
}
.work-time-info {
  font-size: 1.1rem;
}
.footer-list {
  border: none;
  background-color: transparent;
  padding: 0.5rem;
}

.footer-list .list-group-item {
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: unset;
}
.footer-list .list-group-item a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  text-decoration: none;
}
.footer-list .list-group-item.footer-contact > div {
  display: flex;
  width: 100%;
  position: relative;
}
.footer-list .list-group-item.footer-contact > div > div:first-child {
  display: grid;
  place-items: center;
  width: 4rem;
}
.footer-list .list-group-item.footer-contact > div > div:nth-child(2) {
  display: grid;
  align-items: center;
  justify-content: start;
}
.footer-list .list-group-item a > div {
  display: flex;
  width: 100%;
  position: relative;
  z-index: 1;
}
.footer-list .list-group-item a > div::after {
  content: "";
  background: white;
  width: 0;
  height: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 0;
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
}
.footer-list .list-group-item a > div:hover::after {
  width: calc(100%);
}
.footer-list .list-group-item a > div > div {
  display: grid;
  justify-content: end;
}

.footer-list .list-group-item a > div > div:first-child {
  display: grid;
  width: 100%;
  text-align: left;
  justify-content: left;
}

/* .footer-list .list-group-item > div:hover {
  background-color: white;
  transition: background-color 0.3s ease;
} */
.footer-list .list-group-item a > div:hover > div {
  color: #272727 !important;
}

.footer-section-title {
  font-family: "Ultra";
  letter-spacing: 2px;
}

.contanct-icon-container > div:first-child {
  z-index: 1;
}
.contanct-icon-container > div:nth-child(2) {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
}
.contanct-icon-container img {
  height: 100%;
  width: 100%;
}
.contanct-icon-container {
  position: relative;
  padding: unset;
}
.contanct-icon-container div {
  opacity: 1;
  display: flex;
  transition: opacity 0.3s ease-in-out;
}
.footer-list .list-group-item.footer-contact:hover > div > div:nth-child(2) {
  color: #272727 !important;
}
.footer-list .list-group-item.footer-contact::after {
  content: "";
  background: white;
  width: 0;
  height: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
}
.footer-list .list-group-item.footer-contact:hover:after {
  width: calc(100%);
}
.contanct-icon-container div.fade-out {
  opacity: 0;
}
.footer-list .footer-contact {
  cursor: default;
}
.contanct-icon-container div.fade-in {
  opacity: 1;
}
.page-banner {
  width: 100%;
  height: 97.5vh;
  display: block;
  overflow: hidden;
  position: relative;
  border-bottom: 2px #fff solid;
}
.page-banner-filter {
  width: 100%;
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.page-banner-filter > div {
  width: 100%;
  display: block;
  height: 100%;
  position: relative;
  z-index: 3;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}
.page-banner-filter > div::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
.page-banner-content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 3;
}
.page-banner-strip {
  content: "";
  position: absolute;
  width: 1000vh;
  height: 40%;
  max-width: unset;
  top: 50%;
  left: 50%;
  background-color: #f59846;
  z-index: 2;
  display: grid;
  place-items: center;
}
.page-banner-strip > div {
  width: 100%;
  height: 50%;
  background-color: #272727;
  margin: 0 auto;
  position: relative;
  display: none;
}
.page-banner-cta {
  height: 100%;
  background-color: transparent;
  display: grid;
  place-items: center;
}
.page-banner-cta > div {
  padding: 10%;
}
.page-banner-cta h1 {
  font-family: "Ultra";
  letter-spacing: 2px;
  font-size: 4rem;
}
.page-banner-info {
  height: 100%;
  background-color: transparent;
}
.page-banner-info > div {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  padding: 10%;
}
.banner-card {
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid #fff;
  width: 100%;
  backdrop-filter: blur(10px);
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  color: #fff;
  overflow: hidden;
  display: grid;
  place-items: center;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 13px 27px -5px,
    rgba(255, 255, 255, 0.3) 0px 8px 16px -8px;
}

.banner-card:hover {
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.4);
  transform: translateY(-10px);
  box-shadow: rgba(255, 255, 255, 0.12) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.32) 0px 2px 16px 0px;
}
.card-title-cta {
  border-bottom: 2px solid #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  & > div {
    height: 100%;
    padding: 0.5rem;
    display: grid;
    place-items: center;
    width: 50%;
  }
  & .my-btn {
    height: 5rem;
  }
  & div a {
    height: 100%;
    width: 100%;
  }
}
.card-title {
  margin: 0;
  padding: 0.5rem;
  font-size: 2rem;
  font-family: "Ultra";
}
.banner-card .card-body {
  padding: 1.5rem;
}
.card-text {
  margin: 0;
  padding: 0.5rem;
}
.banner-card .card-body {
  background-color: transparent;
}
.page-banner-image {
  width: 100%;
  display: block;
  height: 100%;
}
.page-banner-cta-text {
  width: 100%;
  color: white;
  text-align: center;
}
.page-banner-cta-button {
  width: 100%;
  display: grid;
  place-items: center;
}
.my-btn {
  display: block;
  position: relative;
  padding: 0.5rem;
  background-color: transparent;
}

.my-btn .banner-cta-button-content:first-child {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
}
.my-btn .banner-cta-button-content:nth-child(2) {
  position: absolute;
  height: auto;
  top: 0.5rem;
  left: 0.5rem;
  right: 0.5rem;
  bottom: 0.5rem;
  background-color: #fff;
  color: #272727;
  border: 2px solid #fff;
}
.banner-cta-button-content {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  color: #fff;
  border: #fff 2px solid;
  border-radius: 0.5rem;
  padding: 0rem 0.5rem;
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  align-items: center;
}
.banner-cta-button-content.fade-in {
  opacity: 1;
}

.banner-cta-button-content.fade-out {
  opacity: 0;
}
.banner-cta-button-content img {
  height: 100%;
  width: 100%;
}

.banner-cta-button-content div {
  height: 3rem;
  padding: 0.5rem;
  display: grid;
  place-items: center;
  font-size: 1.2rem;
}
.menu-display {
  background-repeat: repeat;
  background-size: cover;
  & > .row {
    position: relative;
    z-index: 3;
    width: 100%;
    margin: 0 auto;
  }
  & > .row > div {
    margin: 2.5vh 0vh;
    margin-top: 0;
    padding: 0rem 1rem;
    &:first-child {
      margin: 0;
      padding: 0rem;
      position: relative;
      height: 50vh;
      overflow: hidden;
      display: grid;
      place-items: center;
      align-content: center;
      & :not(div:first-child) {
        z-index: 2;
        &.my-btn {
          height: 50vh;
          width: 100%;
          padding: unset;
          border-radius: 0;
          & .banner-cta-button-content {
            border-radius: 0;

            backdrop-filter: unset;
            background-color: transparent;
            border: solid 2px transparent;
            flex-direction: column;
            &.fade-in {
              opacity: 1;
            }
            &:nth-child(2) {
              backdrop-filter: blur(8px);
              border-left: none;
              border-right: none;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              flex-direction: row;
              background-color: rgba(0, 0, 0, 0.25);
              & img {
                width: auto;
                padding: 1rem;
                height: 20vh;
              }
              & p {
                font-size: 2.5rem;
                letter-spacing: 2px;
                margin: 0;
              }
            }
            &.fade-out {
              opacity: 0;
            }
          }
        }
      }
      & > div:first-child {
        filter: blur(5px);
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        & > img {
          width: 100%;
          filter: brightness(55%);
        }
      }
    }
    &.col-lg-6.col-md-12 {
      display: grid;
      align-items: center;
      align-content: center;
    }
  }

  & .row > div {
    padding: 1rem;
  }
}
.menu-main-display-card {
  margin-top: 1rem;
  width: 100%;
  background-color: transparent;
  backdrop-filter: blur(3px);
  color: #272727;
  border: 0.5px solid transparent;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  box-shadow: rgba(255, 255, 255, 0.25) 0px 13px 27px -5px,
    rgba(255, 255, 255, 0.3) 0px 8px 16px -8px;
  & > img {
    height: 50vh;
    width: 100%;
  }
  &:hover {
    backdrop-filter: blur(6px);
    transform: translateY(-5px);
    box-shadow: rgba(255, 255, 255, 0.12) 0px 2px 4px 0px,
      rgba(255, 255, 255, 0.32) 0px 2px 16px 0px;
  }
  & .text-cta {
    border-bottom: 2px dotted #272727;
    border-top: 2px dotted #272727;
  }
  & .card-text {
    border-bottom: 2px dotted #272727;
  }
  & .text-cta > .row > .col-6:first-child {
    border-right: 2px dotted #272727;
    padding: 0.5rem;
  }
  & .text-cta > .row > .col-6 {
    padding: 0.5rem;
  }
  & .text-cta .btn {
    width: 100%;
    height: 100%;
    padding: 0;
    position: relative;

    & .button-content {
      display: flex;
      width: 100%;
      height: 2.2rem;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;
      justify-content: space-between;
      transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
      font-size: 1.2rem;
      &.fade-in {
        opacity: 1;
      }
      &.fade-out {
        opacity: 0;
      }
      &:nth-child(2) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        left: 0;
        & > * {
          color: #f59846;
          background-color: #272727;
        }
      }
      & > div {
        height: 100%;
        display: grid;
        place-content: center;
        width: calc(100% - 2.2rem);
        border-top: 2px solid #272727;
        border-left: 2px solid #272727;
        border-bottom: 2px solid #272727;
      }
      & div:nth-child(2) {
        width: 2.2rem;
        height: 2.2rem;
        padding: 0.25rem;
        border: 2px solid #272727;
        border-radius: 0% 100% 100% 0%;
        & img {
          width: 100%;
          height: 100%;
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}
.menu-display-card {
  height: 100%;
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  backdrop-filter: blur(3px);
  color: #272727;
  border: 0.5px solid transparent;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  box-shadow: rgba(255, 255, 255, 0.25) 0px 13px 27px -5px,
    rgba(255, 255, 255, 0.3) 0px 8px 16px -8px;
  &:hover {
    backdrop-filter: blur(6px);
    transform: translateY(-5px);
    box-shadow: rgba(255, 255, 255, 0.12) 0px 2px 4px 0px,
      rgba(255, 255, 255, 0.32) 0px 2px 16px 0px;
  }
  & .card-title {
    font-size: 120%;
  }
  & .text-cta {
    display: flex;
    border-bottom: 2px dotted #272727;
    border-top: 2px dotted #272727;
  }
  & .card-text {
    border-right: 2px dotted #272727;
    font-size: 0.9rem;
  }
  & .btn {
    display: grid;
    place-items: center;
    position: relative;
    & div {
      width: 2.2rem;
      height: 2.2rem;
      border-radius: 100%;
      border: 2px solid #272727;
      padding: 0.25rem;
      transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
      &.fade-in {
        opacity: 1;
      }
      &.fade-out {
        opacity: 0;
      }
    }
    & div:nth-child(2) {
      position: absolute;
      background-color: #272727;
    }
    & img {
      width: 100%;
      height: 100%;
      display: block;
      margin: 0 auto;
    }
  }
}
.menu-display-title {
  color: #f59846;
  font-family: "Ultra";
  font-size: 3rem;
  text-align: center;
  letter-spacing: 2px;
}
.menu-display-caption {
  color: white;
  text-align: center;
  font-size: 1.2rem;
  font-family: "Ultra";
  letter-spacing: 2px;
}
.location-display {
  position: relative;
  color: #fff;
  & > .row {
    width: 95%;
    margin: 0 auto;
    & > div {
      padding: 5rem 1.5rem;
      display: grid;
      place-items: center;
      z-index: 2;
    }
  }
}
.location-display-filter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(2px) brightness(50%);

  z-index: 1;
}
.location-display-text {
  text-align: center;
  & .row > div {
    letter-spacing: 2px;
    &:first-child {
      font-family: "Ultra";
    }
    &:nth-child(2) {
      font-family: "Ultra";
      font-size: 3rem;
      color: #f59846;
    }
    &:nth-child(n + 3) {
      text-align: left;
      letter-spacing: 1px;
    }
  }
}
.location-display-content {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  align-content: flex-start;
  & .location-display-content-buttons {
    height: fit-content;
    .row {
      & .my-btn {
        width: 100%;
        height: 3.5rem;
        padding: unset;
        font-size: 1.2rem;

        & > .banner-cta-button-content {
          border-right: none;
          border-radius: 1rem 0rem 0rem 0rem;
          padding: unset;
          &:nth-child(2) {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
          }
          &.fade-in {
            opacity: 1;
          }
          &.fade-out {
            opacity: 0;
          }
        }
      }
      & > div:nth-child(2) {
        & .banner-cta-button-content {
          padding: unset;
          border-left: none;
          border-right: 2px solid #fff;
          border-radius: 0rem 1rem 0rem 0rem;
        }
      }
    }
  }
}
.location-display-main-content {
  width: 100%;
  height: 100%;
  position: relative;
  & > div {
    transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    &:nth-child(2) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      & > iframe {
        width: 100%;
        height: 100%;
      }
    }
    &.fade-in {
      opacity: 1;
    }
    &.fade-out {
      opacity: 0;
    }
  }
}
.goolge-review-card {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #fff;
  border-radius: 1rem;
  background-color: rgba(39, 39, 39, 0.75);
  overflow: hidden;
  filter: none;
  backdrop-filter: blur(5px);

  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  box-shadow: rgba(255, 255, 255, 0.25) 0px 13px 27px -5px,
    rgba(255, 255, 255, 0.3) 0px 8px 16px -8px;
  &:hover {
    transform: translateY(-5px);
    box-shadow: rgba(255, 255, 255, 0.12) 0px 2px 4px 0px,
      rgba(255, 255, 255, 0.32) 0px 2px 16px 0px;
    backdrop-filter: blur(8px);

    background-color: rgba(39, 39, 39, 0.5);
  }
  color: #fff;
  & > div {
    width: 100%;
    padding: 0.5rem;
  }
  & .review-rating {
    & > img {
      padding: 0rem 0.5rem;
      width: 2.5rem;
    }
  }
  & .review-user {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    & > img {
      width: 3rem;
      height: 3rem;
    }
    & > div {
      width: calc(100% - 3rem);
      padding: 0rem 1rem;
    }
  }
}
.reviews-display {
  /* background: linear-gradient(#272727, #f59846c7); */
  position: relative;
  padding: 2rem 0rem;
  & .reviews-display-filter {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    filter: blur(3px);

    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
  & > .row {
    filter: none;
    width: 95%;
    margin: 0 auto;

    & > div {
      padding: 1rem;
      &:first-child {
        margin: 5vh 0vh;
      }
      &:nth-child(n + 2) {
        margin-bottom: 5vh;
      }
    }
    & > .review-section-title {
      color: #f59846;
      z-index: 2;
      font-size: 3rem;
      text-align: center;
      font-family: "Ultra";
    }
  }
}
@media only screen and (max-width: 575px) {
  .menu-display {
    width: 100%;
    & > .row {
      width: 100%;
      margin: 0 auto;
    }
    & > div > div .row > div {
      padding: 1rem 0rem !important;
    }
  }
}
@media only screen and (max-width: 990px) {
  .navbar.navbar-expand-lg > .container-fluid {
    width: 100%;
  }
  .page-banner-cta > div {
    padding: 10%;
    margin-top: 10vh;
  }
  .nav-item {
    &::after {
      left: 0;
      right: 0;
    }
  }
  .menu-display {
    & > .row > div {
      &:first-child {
        & > div:first-child {
          display: grid;
          place-items: center;
          height: 100%;
          justify-content: center;
          align-items: center;
          align-content: center;
          & > img {
            height: 50vh;
            width: auto;
            margin: 0 auto;
          }
        }
      }
    }
  }

  .navbar .navbar-brand .company-name-display {
    display: grid;
  }
  .footer-section-title {
    text-align: center;
    font-size: 1.5rem;
  }
  footer > .row > div {
    border-bottom: 2px solid white;
  }
  footer .footer-link-icon {
    margin: 0 auto;
  }
  .page-banner {
    height: fit-content;
  }
  .location-display {
    width: 100%;
    & > .row {
      & > div:first-child {
        padding: 5rem 0rem 2.5rem 0rem;
      }
      & > div:last-child {
        padding: 2.5rem 0rem 5rem 0rem;
      }
    }
  }
  .menu-display {
    width: 100%;
    & > .row {
      width: 100%;
      margin: 0 auto;
    }
    & > div > div:nth-child(n + 3) .row > div {
      &:nth-child(2n + 1) {
        padding-left: 0rem;
      }
      &:nth-child(2n) {
        padding-right: 0rem;
      }
    }
  }
}
