@font-face {
  font-family: "Ultra";
  src: url("/src/assets/fonts/Ultra/Ultra-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Outfit";
  src: url("/src/assets/fonts/Outfit/static/Outfit-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Outfit";
  letter-spacing: 1px;
}
.navbar {
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ) !important; /* Adjust the alpha value as needed */
  position: fixed;
  display: flex;
  overflow: hidden;
  z-index: 200;
  width: 100%;
  backdrop-filter: blur(10px);
}
.navbar * {
  color: white;
}
body {
  background-color: #272727;
}
.navbar-nav .nav-link.active {
  font-weight: 600;
}
.navbar .navbar-brand {
  padding: 0;
  margin: 0;
}
.navbar .navbar-brand :hover {
  background-color: white;
}
.navbar .navbar-brand img {
  background-color: transparent !important;
  height: 60px;
}
.navbar .navbar-brand.logo {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
.navbar .navbar-brand.logo.fade-out {
  opacity: 0;
}

.navbar .navbar-brand.logo.fade-in {
  opacity: 1;
}
.nav-item:has(.nav-link.nav-link.active) {
  &:after {
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    bottom: 0;
    right: 5%;
    left: 5%;
    background-color: #ffffff;
    transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    transform-origin: bottom center;
    z-index: -1;
  }

  &:hover {
    .nav-link {
      color: #2d2d2d;
    }

    &:after {
      right: 0;
      left: 0;
      height: 100%;
    }
  }
}
.nav-item {
  text-align: center;

  display: block;
  padding: 1rem 1.25rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  position: relative;
  transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
  z-index: 1;
  &:after {
    content: "";
    display: block;
    height: 0px;
    position: absolute;
    bottom: 0;
    right: 5%;
    left: 5%;
    background-color: #ffffff;
    transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    transform-origin: bottom center;
    z-index: -1;
  }

  &:hover {
    .nav-link {
      color: #2d2d2d;
    }

    &:after {
      right: 0;
      left: 0;
      height: 100%;
    }
  }
}
.nav-link.active:hover {
  color: #2d2d2d;
}

.navbar.navbar-expand-lg > .container-fluid {
  width: auto;
}
.navbar.navbar-expand-lg > .container-fluid > .navbar-brand {
  margin: 0rem 0.5rem;
  padding: 0rem 0.5rem;
}
.navbar.navbar-expand-lg > .container-fluid .navbar-nav .nav-item {
  padding: 0rem 2rem;
  white-space: nowrap;
}
.carousel-control-next-icon {
  background-image: url("/src/assets/images/misc/right-arrow.png");
}
.carousel-control-prev-icon {
  background-image: url("/src/assets/images/misc/left-arrow.png");
}
@media only screen and (max-width: 990px) {
  .navbar.navbar-expand-lg > .container-fluid {
    width: 100%;
  }
  .nav-item {
    &::after {
      left: 0;
      right: 0;
    }
  }
}
footer * {
  color: white !important;
  width: 100%;
  padding: 0.25rem;
}

.footer-logo {
  width: 60%;
}
footer .row {
  width: 100%;
  position: relative;
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  padding: 0.5rem;
}
footer .footer-link-icon {
  max-width: 7.5rem;
  min-width: 2.5rem;
  margin: 0 auto;
  margin-left: 0;
  display: block;
  background-color: transparent;
}
.footer-link-icon {
  display: block;
  position: relative;
}
.footer-link-icon img {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}
.footer-link-icon img:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.footer-link-icon img.fade-out {
  opacity: 0;
}

.footer-link-icon img.fade-in {
  opacity: 1;
}
